<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
<%include partials/view %>

</style>
<body bgcolor="#e8ebef">
<%include partials/head%>
<div style="width:600px;height:400px;background-color:white;position:absolute;left:400px;top:120px;padding-left:25px;">
<h1 style="font-family:arial"><b> Change Password  </b></h1>

<h3>Old Password </h3>
<input type="password" id="old" style="width:500px;height:35px;border-radius:5px"><br>

<h3>New Password </h3>
<input type="password" id="new" style="width:500px;height:35px;border-radius:5px"><br>
<br><br>
<button id="submit" style="width:70px;height:40px;background-color:green"> Submit </button>
</div>


</body>
<script>
var old=document.getElementById("old");
var newp=document.getElementById("new");
var btn=document.getElementById("submit");
btn.onclick=function()
	{
		if(old.value==""||newp.value=="")
			alert("Please Enter Values");
		else{
	 var req=new XMLHttpRequest();
		req.addEventListener('load', function()
      {

	  });
	  req.open("POST", "/changep");
	  req.setRequestHeader('Content-Type','application/json');

      req.send(JSON.stringify({'old':old.value,'newp':newp.value}));
	}
	}


 <%include partials/viewscript%>
</script>
</html>
